/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--background-page: rgb(0 0 0 / 5%);
	--graph-section: rgb(255 255 255 / 33.33%);
    --background-popup: rgba(0, 0, 0, 0.5);

	--button-color: rgb(0 0 0 / 10%);
	--button-color-darker: rgb(0 0 0 / 15%);
	--button-contrast: rgb(0 0 0 / 100%);
	--button-cancel: #DD2E44;
}

::selection {
	background-color: black;
	color: white;
}

body {
	font-family: "Inter", sans-serif;
	background-color: var(--background-page);

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	height: 100vh;

	&.dark {
		background-color: #DD2E44;
	}

	button {
		border: none;
		padding: 0.25rem 1.25rem;
		font-weight: bold;
		cursor: pointer;

		text-transform: capitalize;

		&.contrast {
			background-color: var(--button-contrast);
			color: white;

			&:hover {
				background-color: var(--button-color);
				color: black;
			}
		}

		&.cancel {
			background-color: var(--button-cancel);
			color: white;

			&:hover {
				background-color: rgb(221 46 68 / 80%);
			}
		}
	}

	/* Asset */
	>.asset {

		position: absolute;
		left: 0;
		bottom: 0;
		pointer-events: none;
	}

	/* Theme switcher */
    >.theme {
        align-self: flex-end;
        font-size: 1.25rem;

        

		--size: 2rem;
		margin-top: calc(var(--size) / 3);
		margin-right: calc(var(--size) / 3);

		cursor: pointer;

		width: var(--size);
		aspect-ratio: 1 / 1;

		>img {
			width: var(--size);
			aspect-ratio: 1 / 1;
			position: absolute;
			transition: opacity 0.3s ease-in-out;

			&.hidden {
				opacity: 0;
			}
		}
    }

    /* Popups */
	.popup {

		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

		&.oculto {
			display: none;
		}

		>.background {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 2;

			--tile-size: 0.5rem;
			--block-border-size: 2px;
			--block-border-color: rgb(0 0 0 / 5%);
			--block-background-color: rgb(0 0 0 / 8%);

			backdrop-filter: blur(2.5px);

			background-image:
				linear-gradient(135deg, var(--block-background-color) 25%, transparent 25%),
				linear-gradient(225deg, var(--block-background-color) 25%, transparent 25%),
				linear-gradient(45deg, var(--block-background-color) 25%, transparent 25%),
				linear-gradient(315deg, var(--block-background-color) 25%, transparent 25%);
			background-position: var(--tile-size) 0, var(--tile-size) 0, 0 0, 0 0;
			background-size: var(--tile-size) var(--tile-size);
			background-repeat: repeat;

			
		}

		>.popup-conteudo {
			background-color: white;
			padding: 4rem 1.5rem;

			z-index: 3;
		}
	}

    #popup-voos {
		>.popup-conteudo {

			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			row-gap: 1.25rem;

			>select {
				--size: 12.5rem;
				min-width: var(--size);
				height: var(--size);
			}
		}
    }

    #popup-novo-voo {
		>.popup-conteudo {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			--gap: 0.5rem;

			>h3 {
				margin-bottom: var(--gap);
			}

			>button {
				margin-top: var(--gap);
			}

			>.popup-botoes {
				margin-top: calc(var(--gap) * 2);
			}

			>input {
				margin: var(--gap) 0;
				--padding: 0.25rem;

				border: none;
				border-bottom: 2px solid rgba(0, 0, 0, 0.1);
				padding-bottom: var(--padding);
				padding: 0 var(--padding) var(--padding);
				
				&:focus {
					outline: none;
					border-bottom: 2px solid black;
				}
			}

			>span {
				font-size: 0.75rem;
			}
		}
    }

    /* Geral */
    >.container {
        flex: 25;

        width: 100%;

        display: flex;
        justify-content: center;
        flex-direction: row;
        column-gap: 1rem;
        flex-wrap: wrap;

		padding: 2rem 2rem;

        >section {
            background-color: var(--graph-section);
            padding: 0.5rem;
            border-radius: 0.75rem;

            justify-content: center;
            align-items: center;
            flex-direction: column;;

            --canvas-size: 25vh;
            --canvas-size-small: calc(var(--canvas-size) * 1.25);
            --canvas-size-big: calc(var(--canvas-size) * 3);


            h3, h2 {

                text-align: center;
                text-transform: capitalize;

            }
            >.sec {

                >canvas {
                    /*min-width: var(--canvas-size-small);
                    min-height: var(--canvas-size-small);*/
                    aspect-ratio: 1 / 1;
                }

                &.select {
                    background-color: rgba(255, 255, 255, 0.25);
                    padding: 0.5rem 0;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }
            }

            /* Altitude */
            &:first-child {

				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;

                >.sec {

					&.graph {
						flex: 1;
						aspect-ratio: 1 / 1;

						>canvas {
                    	}
					}
                }

				>.select {

					display: flex;
					align-items: center;
					row-gap: 1rem;

					width: 33.33%;

					>.flights {

						display: flex;
						justify-content: center;
						align-items: center;
						flex-direction: column;

						row-gap: 1rem;

						>button {
							background-color: var(--button-contrast);
							color: white;

							&:hover {
								background-color: var(--button-color);
								color: black;
							}
						}

						>label {
							font-size: 0.875rem;
							color: var(--button-contrast);

							cursor: pointer;
							text-decoration: underline;
						}


					}

					>.buttons {

						display: flex;
						justify-content: space-between;
						align-items: center;

						width: 100%;

						>button {

							&.start {
								background-color: var(--button-color);

								&:hover {
									background-color: var(--button-color-darker);
								}
							}

							&.delete {
								background-color: var(--button-cancel);
								
								color: white;
							}
						}
					}
				}
            }

            /* Other graphs */
            &:nth-child(2) {

				display: flex;
				justify-content: center;
				align-items: center;
				row-gap: 0.5rem;

				>.sec {

					border-bottom: 1px solid rgba(0, 0, 0, 0.1);

				}

            }

            /* Telemetria */
            &:last-child {

				align-self: flex-start;

                display: flex;
				
                flex-direction: column;

				--gap-section: 0.75rem;

				>h2 {
					margin-bottom: var(--gap-section);
				}

				>p {
					align-self: flex-start;

					width: 100%;

					display: flex;
					justify-content: space-between;
					column-gap: 1.5rem;

					color: rgb(0 0 0 / 66.67%);

					&:hover {
						
						>b {
							color: black;
						}
					}

					>b {
						font-weight: normal;
					}

					>span {
						font-weight: bold;
					}
				}

                >button {
					margin-top: var(--gap-section);
					background-color: var(--button-color);
					

					&:hover {
						background-color: var(--button-color-darker);
					}
                }
            }

        }
        
    }

    /* Nota */
    >footer {
        background-color: black;
        width: 100%;
        flex: 1;

        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-weight: bold;
			color: white;
        }
    }
}